.menu {
    width: calc(100%);
    height: 100vh;
    backdrop-filter: blur(100px);
    gap: 2px;
    transition: color 0.25s ease;
}

.menua {
    position: relative;
    font-size: clamp(1.2em, 12vh + 1.4rem, 4rem);
    font-style: italic;
}

.menua:hover {
    color: rgba(255, 255, 255, 0.595);
}

.menua::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #6718f9;
    bottom: 8px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease;
}

.menua:hover::after {
    transform: scaleX(1);
}

.logo{
    font-size: clamp(1.2em, 1.2vw + .6rem, 2rem);
    font-style: italic;
}