.aboutsec{
    min-height: 100svh;
}
.side-title{
    font-size: clamp(1.2em, 1.2em + 1rem, 2.2em);
    color: #ffffff9b;
}

.about-title{
    font-size: clamp(2.2em, 2.2em + 1.2em, 3.4em);
}

.about-para{
    margin-top: 3rem;
    font-size: clamp(.8em, 1em + .2rem, 1.2em);
    color: #ffffff9b;
}

